VITE_BACKEND_API_URL=http://localhost:8000
VITE_BACKEND_WS_URL=ws://localhost:8000
VITE_DEBUG=true
VITE_STEP2_API_URL=http://localhost:8001
VITE_STEP2_WS_URL=ws://localhost:8001
VITE_APPINSIGHTS_CONNECTION_STRING=
VITE_SENTRY_DSN=